# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
*.log
*.lock
**/android/.gradle/
**/ios/Pods/
**/ios/Flutter/Flutter.framework
*.keystore
.key
pubspec.lock
